<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2>
        <i>Relix Comments</i>
    </h2>
    <div id="articles">

        {{#each data}}
        <div>
            <p> {{this.title}}</p>
            <a href="{{this.link}}"> {{this.link}}</a>
            <p>{{this.summary}}</p>
        </div>

        {{/each}}
    </div>
    <div id="notes"></div>
</div>