html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 80px;
    background-color: burlywood;
}
#title {
    cursor: pointer;
}
/* .header-jumbo {
    height:75vh;
    background:  url('../images/header.jpg');
    width: 100%;
}
.header-wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    background: linear-gradient(transparent, #020202, transparent); */
/* } */
.navber {
    margin-bottom: 0;
}
.jumbotron {
    position: relative; 
    width: 100%;
    height: 300px;
    background-image: url('../images/header.jpg');
    opacity: 0.8;
    padding-top: 20px;
    margin: 0, auto;
    box-shadow: 10px 5px 20px 2px lightslategray;
    color: black;
}
.jumbotron .overlay {
background: linear-gradient(rgb(162, 105, 31), black);
position: absolute;
opacity: 0.3;
z-index: auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 30px;
background-color: #f5f5f5;
text-align: center;

}

#articles {
    display: inline-block;
    overflow: auto;
    /* width: 70%; */
    height: 700px;
}

#notes {
    float: right;
    width: 30%;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

#articles > div {
    border: 1px solid #efe8ed;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    animation: fadeIn 500ms ease-in-out;
}


@keyframes fadeIn {
    0% {
        transform: scale(0.1)
    }

    100% {
        transform: scale(1)
    }
}